.carousel {
    display: flex;
    justify-content: space-center;
}

.carouselContainer {
    max-width: 54rem;
    display: flex; 
}

.window {
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
}

.allItems {
    height: 100%;
    display: flex;
    border-radius: 1.2rem;
}
