.carousel {
    display: flex;
    justify-content: space-center;
   
}

.carouselContainer {
    max-width: 48rem;
    display: flex;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 1.5rem;
}

.allItems {
    height: 100%;
    display: flex;
    border-radius: 1.2rem;
    transition: all .2s ease-in;
}

@media(max-width: 1024px) {
    .carousel {
        margin-left: -6.2rem;
        width: 100%;

    }

    .carouselContainer {
        max-width: 60rem;
    }
}

@media(max-width: 767px) {
    .carouselContainer {
        max-width: 48rem;
    }
}