.carousel {
    display: flex;
    justify-content: space-center;
}

.carouselContainer {
    max-width: 48rem;
    display: flex; 
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 1.5rem;
}

.allItems {
    height: 100%;
    display: flex;
    border-radius: 1.2rem;
}
