.projectForMobile {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

}

.back {
    cursor: pointer;
    width: 4rem;
    margin-top: 4rem;   
    
}


.buttons {
    display: flex;
    justify-content: center;

    width: 100%;

    gap: 8rem;
    margin-top: 4rem;
}

.button {
    border-radius: 1rem;

    padding: 1.5rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;

    font-size: 2.5rem;
}

@media(max-width: 767px) {
    .buttons {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
}