.main {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 0rem;
    padding-bottom: 4rem;

    height: 83vh;

}

.mainShell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projectContainer {
    border-radius: 2rem;
    overflow: hidden;
    margin-top: 8rem;
    margin-right: 8rem;
}

.projectName {
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;

    padding-bottom: 4px;
}

.projectImage {

    width: 50rem;
    height: 30rem;

    border-radius: 2rem;

    overflow: hidden;
    cursor: pointer;
    position: relative;

}

.projectImage img {
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;

}

.projectDescription {
    position: absolute;
    bottom: 0;
    z-index: 100;
    padding: 1.5rem;

    text-align: end;
    color: #222121;
    font-weight: bold;

    background: #b8b8b866;
    width: 100%;
}

@media(max-width: 1679px) {
    .mainShell {
        width: 150rem;
    }

}

@media(max-width: 1366px) {
    .main {
        height: auto;
        box-sizing: content-box;
    }

}

.mainShell {
    margin-top: 0;
}

@media(max-width: 1024px) {
    .projectContainer {
        margin-right: 0;
    }
}

@media(max-width: 768px) {
    .main {
        box-sizing: content-box;
        align-items: start;
        padding-bottom: 4rem;
    }

    .projectImage {
        width: 40rem;
        height: 25rem;
    }

    .mainShell {
        padding: 0;
    }

    .projectContainer {
        margin-top: 4.5rem;
    }

}