.main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.toolsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 3rem;

    /* margin-bottom: 1.5rem; */
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    border-radius: 1.5rem; 
    width: 15rem;
}

@media(max-width: 1024px) {


    .arrow {
        display: none;
    }

    .container {
        align-items: start;
        margin-left: 4rem;
        margin-top: 4rem;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .toolsContainer {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 767px) {

    .main {
        width: auto; 
    }

    .toolsContainer {
        justify-content: center;
    }
}