.carousel {
    display: flex;
    justify-content: space-center;
}

.carouselContainer {
    width: 90rem;
    height: 50rem;
    display: flex; 
    gap: 2rem;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.allItems {
    height: 100%;
    display: flex;
    border-radius: 1.2rem;
}
